*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.cistac{
	clear:both;
}
a{
	color: inherit;
	text-decoration:none;
}
body{
	font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header{
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:140px;
	animation: pomeranjenadole 1.5s ease-in-out;
}
@keyframes pomeranjenadole {
    0% {
		transform: translateY(-100%);
    }
	100% {
		transform: translateX(0%);
    }
}
.centarheader{
	display:flex;
	width:90%;
	height:120px;

}
.leviheader{
	display:flex;
	width: 20%;
	height:100%;
	align-items:center;
}
#logo{
	width:30%;
	height:80%;

}
#logo img{
	width:100%;
	height:100%;
}
#natpis{
	width:30%;
	height:80%;
	color:#ebebeb;	
}
.natpisblokovi{
	WidtH:100%;
	height:33%;	
	text-align:center;
	font-size:34px;
	display:flex;
	justify-content:center;
}
.natpisblokovi p{
	width:60%;
	height:100%;
	font-weight:bold;
}
.desniheader{
	width: 50%;
	height: 100%;
	margin-left: 520px;
	display:flex;
	align-items:center;
	justify-content:center;
}
nav{
	display:flex;
	align-items:center;
	width:100%;
	height:80%;

}
nav ul{
	width:100%;
	height:100%;
	display:flex;
	list-style-type:none;
	display:flex;
	align-items:center;
	justify-content:space-around;
}
nav ul li{	
	font-size:26px;
	font-weight: bold;
	color:#ebebeb;
	text-transform:uppercase;
	transition: all 50ms ease-in;
}
nav ul li:hover{
	border-bottom: 3px solid #ebebeb;
}
/*ovde se zavrsava header*/

#glavnaslika{
	width:100%;
	height:740px;
	background-image:url("../img/cafe.jpg");
	background-size:cover;
	background-attachment:fixed;
}
.natpisprekoslike{
	text-align:center;
	margin-top:200px;
	margin-left:100px;
	width:40%;
	color:#ebebeb;
	animation: pomeranjeudesno 1.5s ease-in-out;
}
.natpisprekoslike h2{
	line-height:1.3;
}
@keyframes pomeranjeudesno {
    0% {
		transform: translateX(-115%);
    }
    100% {
		transform: translateX(0);
    }
}
.pocetnadelovi{
	width:100%;
	height:500px;
}
.pocetnadelovi:nth-child(2){
	background-color:#8f6535;
}
.pocetnadelovi:nth-child(3){
	background-color: #ebebeb;
}
.pocetnadelovi:nth-child(4){
	background-color:#8f6535;
}	
.centarponudaiopis{
	display:flex;
	align-items:center;
	justify-content:space-between;
	height:100%;
	width:100%;
}
.opiskafica{
	margin-left:100px;
	width:40%;
	height:225px;
	text-align:center;
	color:#ebebeb;
}
.opiskafica h2{
	line-height: 1.3;
}
.ponuda{
	margin-left:150px;
	width:40%;
	height:400px;
	margin-right:100px;
}
.dvekafe{
	width:100%;
	height:300px;
	display:flex;
	
}
.espreso{
	width:300px;
	height:300px;
	background-image:url("../img/es.jpg");
	background-size:cover;
	background-position: 10%;
	border-radius: 40px;
	margin-right:160px;
	transition: 0.5s all;
}
.espreso:hover {
	transform:scale(1.05);
}
.kapucino{
	width:300px;
	height:300px;
	background-image:url("../img/cap.jpg");
	background-size:cover;
	background-position: left 95% bottom 45%;
	border-radius: 40px;
	transition: 0.5s all;
}
.kapucino:hover {
	transform:scale(1.05);
}
.imenadvejukafa{
	width:100%;
	height:50px;
	display:flex;
}
.levakafa{
	width:300px;
	height:100%;
	margin-right:160px;
}
.levakafa h2{
	margin: 15px 30px 15px 30px;
	text-align:center;
	color:#ebebeb;
}
.desnakafa{
	width:300px;
	height:100%;
}
.desnakafa h2{
	margin: 15px 30px 15px 30px;
	text-align:center;
	color:#ebebeb;
}
.pogledajdugme{
	width:100%;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:flex-end;
}
.pogledajdugme a{
	background-color:#8f6535;
	color:#ebebeb;
	padding:10px;
	border:1px solid #ebebeb;
	border-radius:20px;
	text-transform:uppercase;
	transition: 0.5s all;
}
.pogledajdugme a:hover{
	background-color:#ebebeb;
	color:#8f6535;
}
.nudimovamnatpis{
	width:100%;
	height:20%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.nudimovamnatpis h2{
	padding:10px;
	border-radius:20px;
	color:#8f6535;
	text-transform:uppercase;
}
.nudimovam1{
	width:100%;
	height:80%;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.nudimovam2{
	width:25%;
	height:90%;
	border:1px solid #8f6535;
	border-radius:40px;
	transition: ease-in 0.4s;
}
.nudimovam2:hover {
	transform: scale(0.91);
}
.ikonica{
	width:100%;
	height:70%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.ikonica i{
	font-size:120px;
	color:#8f6535;
}
.opisikonice{
	width:100%;
	height:30%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#8f6535;
}
.natpisurecenzijama{
	width:100%;
	height:100px;
	background-color:#8f6535;
	display:flex;
	align-items:center;
	justify-content:center;
}
.natpisurecenzijama h2{
	padding:10px;
	border-radius:20px;
	text-transform:uppercase;
	color:#ebebeb;
}
.ljudi{
	widtH:100%;
	height:400px;
	display:flex;
	justify-content:space-around;
	align-items:center;
}	
.recenzija{
	width: 400px;
	height:300px;
	background-color:#8f6535;
	border:1px solid #ebebeb;
	border-radius:40px;
	transition: all 0.4s;
}
.recenzija:hover {
	transform: translateY(-8px);
    box-shadow: 8px 8px 2px #ebebeb;
}
.slikaiimeosobe{
	width:100%;
	height:75px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.slikaosobe{
	width:30%;
	height:75px;
	display:flex;
	justify-content:center;
	align-items:flex-end;
}
.slikaosobe img{
	width:70%;
	height:90%;
	border-radius: 50%;
	border:1px solid #ebebeb;
}
.imeosobe{
	width:70%;
	height:75px;
	display:flex;
}
.name{
	width:70%;
	height:100%;
}
.imeosobeikonica{
	width:30%;
	height:100%;
	text-align:center;
}
.imeosobeikonica i{
	color:#ebebeb;
	font-size:50px;
	margin: 10px 0px 0px 0px;
}
.nameoftheperson{
	margin-top:10px;
	color:#ebebeb;
}
.howlongago{
	color:#ebebeb;
}
.tekstrecenzije{
	width:100%;
	height:225px;
}
.tekstrecenzije h2{
	margin:10px;
	color:#ebebeb;
}
footer{
	widtH:100%;
	height:150px;
	background-color:#ebebeb;
	display:flex;
	align-items:center;
	justify-content:space-around;
}
.futerblok1{
	width: 25%;
	height: 80%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.futerblok2{
	width: 25%;
	height: 80%;
}
.futerblok3{
	width: 25%;
	height: 80%;
}
.futerlogo{
	width:100%;
	height:70%;
	display:flex;
	justify-content:center;
}
.futerlogo img{
	width: 70px;
	height:70px;
}
.copyright{
	width:100%;
	height:30%;
	text-align:center;
	color:#8f6535;
}
.radnovremenatpis{
	width:100%;
	height:30%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#8f6535;
}
.radnovremelista{
	width:100%;
	height:70%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#8f6535;
}
.radnovremelista ul li{
	margin-bottom:5px;
	list-style-type:none;
}
.webikonice{
	width: 70%;
	height:50%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.webikonice i{
	font-size: 30px;
	margin: 0px 15px 0px 15px;
	color:#8f6535;
}

/*ovde se zavrsava pocetna*/

#glavnaslika2{
	width:100%;
	height:740px;
	background-image:url("../img/hands.jpg");
	background-size:cover;
	background-position-y: 70%;
	background-attachment:fixed;
}
#kafa8{
	width:100%;
	height:1000px;
	background-color:#8f6535;
}
.kafablok1{
	width:100%;
	height:500px;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.kafablok2{
	width:100%;
	height:500px;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.kafa{
	width:20%;
	height: 400px;
}
.slikakafe{
	width:100%;
	height:290px;
	background-image:url("../img/blackcoffee.png");
	border-radius:40px;
	transition: all 0.4s;
	background-position-x: 50%;
}
.slikakafe:hover {
	transform: translateY(-8px);
}
.slikakafe1{
	width:100%;
	height:290px;
	background-image:url("../img/espr.jpg");
	border-radius:40px;
	transition: all 0.4s;
	background-position-x: 60%;
}
.slikakafe1:hover {
	transform: translateY(-8px);
}
.slikakafe2{
	width:100%;
	height:290px;
	background-image:url("../img/kapu.jpg");
	border-radius:40px;
	transition: all 0.4s;
	background-position-x: 50%;
}
.slikakafe2:hover {
	transform: translateY(-8px);
}
.slikakafe3{
	width:100%;
	height:290px;
	background-image:url("../img/late.jpg");
	border-radius:40px;
	transition: all 0.4s;
	background-position-x: 50%;
}
.slikakafe3:hover {
	transform: translateY(-8px);
}
.slikakafe4{
	width:100%;
	height:290px;
	background-image:url("../img/maki.png");
	border-radius:40px;
	transition: all 0.4s;
	background-position-x: 40%;
}
.slikakafe4:hover {
	transform: translateY(-8px);
}
.slikakafe5{
	width:100%;
	height:290px;
	background-image:url("../img/moka.jpg");
	border-radius:40px;
	transition: all 0.4s;
	background-position-x: 100%;
}
.slikakafe5:hover {
	transform: translateY(-8px);
}
.slikakafe6{
	width:100%;
	height:290px;
	background-image:url("../img/frape.jpg");
	border-radius:40px;
	transition: all 0.4s;
	background-position-x: 50%;
}
.slikakafe6:hover {
	transform: translateY(-8px);
}
.slikakafe7{
	width:100%;
	height:290px;
	background-image:url("../img/irska.jpg");
	border-radius:40px;
	transition: all 0.4s;
	background-position-x: 100%;
}
.slikakafe7:hover {
	transform: translateY(-8px);
}
.opiskafe{
	margin-top: 20px;
	width:100%;
	height:90px;
	background-color:#ebebeb;
	border-radius:40px;
	border:1px solid #ebebeb;
	color:#8f6535;
	display:flex;
	align-items:center;
	justify-content:center;
}


/*ovde se zavrsavaju kafe*/
	
#glavnaslika3{
	width:100%;
	height:740px;
	background-image:url("../img/galerijacover.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-position-y: 25%;
}
#galerija{
	width:100%;
	height: 1100px;
	background-color:#8f6535;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}
.kolonagalerije{
	width:20%;
	height: 1000px;
}
.kolonagalerije img{
	margin-bottom:20px;
	border-radius: 40px;
	transition: 0.5s all;
}
.kolonagalerije img:hover {
	transform:scale(1.05);
}
/*ovde se zavrsava galerija*/

#glavnaslika4{
	width:100%;
	height:740px;
	background-image:url("../img/kontaktslika.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-position-y: 70%;
}
#kontaktstranica{
	width:100%;
	height:600px;
	background-color:#8f6535;
	display:flex;
	justify-content:center;
	align-items:center;
}
.centarkontaktstranice{
	width:100%;
	height:500px;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}
.sadrzajkontaktstranice{
	width:35%;
	height: 90%;
}
.sadrzajkontaktstranice h2{
	text-align:center;
	color:#ebebeb;
}
form{
	display:inline-block;
	margin:0px auto;
	text-align:center;
}
form * {
	width:90%;
	height: 48px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius:10px;
	padding: 10px;
	padding-left:15px;
	border: none;
	color:#ebebeb;
}
form :nth-child(5){
	height:117px;
}
form :nth-child(6){
	width:20%;
	border-radius:20px;
	padding: 10px;
	border:1px solid #ebebeb;
	font-size: 1.5em;
	text-transform:uppercase;
	font-weight:bold;
	cursor:pointer;
	transition: 0.5s all;
}
#posalji:hover{
	background-color:#ebebeb;
	color:#8f6535;
}
input{
	background-color:#8f6535;
	border-bottom:1px solid #ebebeb;
	color:#ebebeb;
}
textarea{
	background-color:#8f6535;
	border-bottom:1px solid #ebebeb;
	color:#ebebeb;
}
input::placeholder {
    color: #ebebeb;
	font-size: 15px;
}
textarea::placeholder {
    color: #ebebeb;
	font-size: 15px;
}

/*ovde se zavrsava kontakt*/

#glavnaslika5{
	width:100%;
	height:740px;
	background-image:url("../img/fuka.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-position-y: 80%;
}
#autorstranica{
	width: 100%;
    height: 600px;
    background-color: #8f6535;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centarautorstranice{
	width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
	border-radius:20px;
}
.autorslika{
	height:80%;
	width: 30%;
	display:flex;
	justify-content:center;
}
.autorslika img{
	width:65%;
	height:100%;
	border-radius:20px;
	transition: 0.3s all;
}
.autorslika img:hover {
	transform:scale(1.03);
}
.autoropis{
	height:80%;
	width: 30%;
	background-color:#ebebeb;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:22px;
	text-align:center;
	border-radius:20px;
	color:#8f6535;
	transition: 0.3s all;
}
.autoropis:hover {
	transform:scale(1.03);
}
